.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #1f2020;
  padding: 20px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* Mobilde sidebar kapalıyken kaybolur */
.sidebar.closed {
  transform: translateX(-100%);
}

/* Hamburger ikon */
.burger-icon {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 28px;
  color: white;
  z-index: 1100;
  cursor: pointer;
}

/* Mobil görünüm */
@media (max-width: 768px) {
  .burger-icon {
    display: block;
  }

  .main-content {
    margin-left: 0;
    width: 100vw;
  }
}

/* Masaüstü görünüm */
@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 260px;
    width: calc(100vw - 260px);
  }
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.sidebar h2 {
  margin: 10px 0 5px;
  font-size: 20px;
}

.sidebar p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #aaa;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar nav a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
   display: block;
  margin: 10px 0;
}


.sidebar nav a:hover {
  color: #2f4f4f;
}

.social-icons a {
  color: #ffffff;
  font-size: 18px;
  margin: 0 8px;
}

.social-icons a:hover {
  color: white;
}

.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}

.burger-icon {
  display: none;
}

@media (max-width: 768px) {
  .burger-icon {
    display: block;
  }
}
